<% content_for :meta_title, "MENA D'OR | Règlement intérieur" %>

<% content_for :banner do %>
  <div class="banner banner-sm is-justify-content-center">
    <div class="banner-content banner-content-center mb-0">
      <div class="section-title mb-0">
        <h2 class="title m-0 py-3">
          Règlement intérieur <br>Mena d'Or
        </h2>
      </div>
    </div>
  </div>
<% end %>

<div class="section-spacing pt-4">
  <div class="container content">
    <div class="column is-12-mobile is-8-desktop mx-auto">
      <h3>1. Comportement :</h3>
      <ul>
        <li>Tous les participants, y compris les compétiteurs, les invités, le personnel et le public, doivent se comporter de manière appropriée et respectueuse envers les autres.</li>
        <li>Tout comportement agressif, discriminatoire ou offensant ne sera pas toléré et entraînera l'exclusion immédiate de l'événement.</li>
      </ul>

      <h3>2. Respect des horaires :</h3>
      <ul>
        <li>Les compétiteurs doivent être ponctuels pour l'activité programmée.</li>
        <li>L'organisation a le devoir de commencer l'événement aux heures annoncées.</li>
      </ul>

      <h3>3. Utilisation des ressources :</h3>
      <ul>
        <li>Les compétiteurs doivent utiliser les installations et les équipements fournis uniquement à des fins autorisées et dans le respect de leur utilisation correcte.</li>
        <li>Tout comportement criminel ou abusif entraînera des mesures disciplinaires immédiates et pourra faire l'objet de poursuites légales.</li>
      </ul>

      <h3>4. Communication :</h3>
      <ul>
        <li>Les compétiteurs ne devraient pas utiliser les réseaux sociaux ou tout autre type de média pour discréditer ou diffamer l'événement, les organisateurs, les autres participants ou les juges.</li>
        <li>La communication autour de l'événement devrait promouvoir un esprit positif et un soutien mutuel.</li>
      </ul>

      <h3>5. Interdiction de la triche :</h3>
      <ul>
        <li>Tout acte de triche, y compris la falsification d'informations ou l'utilisation de moyens non autorisés pour influencer les résultats, entraînera une disqualification immédiate du compétiteur concerné.</li>
      </ul>

      <h3>6. Respect des décisions :</h3>
      <ul>
        <li>Les décisions prises par le comité de sélection et les juges sont finales et ne peuvent faire l'objet d'aucun recours.</li>
      </ul>

      <p>Ces conditions générales pour les compétiteurs et le règlement intérieur seront appliqués strictement pour garantir l'intégrité de l'événement "Mena d'Or" et assurer une compétition équitable entre tous les participants.</p>
    </div>  
  </div> 
</div>  

<%= render 'shared/call_to_action' %>

<%= render 'shared/contact' %>
