<div class="field phone-input">
  <div class="control has-icons-left has-icons-right">
    <%= f.number_field name, class: "input mt-1" %>
    <span class="icon is-small is-left">
      <strong>1 m</strong>
    </span>
  </div>
</div>