<article class="message is-danger">
  <div class="message-body">
    Désolé! La soumission de votre dossier de candidature a echoué.
    <p class="mt-4">Veuillez cliquer sur ce lien: <strong><u><a href="<%= new_inscription_path %>">Nouvelle inscriprion</a></u></strong> pour faire reprendre l'inscription ou sur <strong><u><a href="<%= root_path %>">Accueil</a></u></strong> pour aller à la page d'accueil. Merci!</p>
  </div>
</article>