<article class="message is-primary">
  <div class="message-body">
    Merci! Votre dossier de candidature a été soumis avec succèss.
    <p class="mt-4">Veuillez cliquer sur ce lien: <strong><u><a href="<%= root_path %>">Accueil</a></u></strong> pour fermer et aller sur la page d'accueil.</p>
  </div>
</article>