<div class="section-cta-block">
  <div class="container">
    <div class="columns is-justify-content-center">
      <div class="column is-7-desktop is-12-tablet">
        <div class="cta-content has-text-centered">
          <p class="is-size-5 m-0">Votre vote compte</p>
          <h2 class="mb-5 mt-4">
            Soutenez Mena d'Or et contribuez à faire briller la culture et l'excellence nigérienne.
          </h2>
          <a href="<%= root_path %>" class="button is-arrow is-default">
            Voter
            <%= render 'shared_svg/arrow_right' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
