<div style="margin-bottom: 4.4rem;">
  <div data-controller="countdown" class="countdown-wrapper">
    <h3>Fin des votes dans </h3><div data-countdown-target="timer" class="countdown-timer"></div>
  </div>
</div>
