<section class="banner banner-wrapper is-hidden-touch">
  <div class="container absolute-content-centered">
    <div class="columns is-multiline is-vcentered is-justify-content-space-between is-reverse-columns-mobile">
      <div class="column is-12-mobile is-12-widescreen">
        <div class="banner-content">
          <h2 class="title">
            Honorer l'Excellence Culturelle au Niger
          </h2>
          <p>
            Une Cérémonie d'Hommage à l'Excellence et de Reconnaissance du Mérite dans la Culture Nigerienne 
          </p>
          <a class="button is-arrow is-gradient mt-6" href="<%= root_path %>#about">
            En Savoir plus
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner is-hidden-desktop">
  <div class="container">
    <div class="columns is-multiline is-vcentered is-justify-content-space-between is-reverse-columns-mobile">
      <div class="column is-12-mobile is-5-widescreen">
        <div class="banner-content">
          <h2 class="title">
            Honorer l'Excellence Culturelle au Niger
          </h2>
          <p>
            Une Cérémonie d'Hommage à l'Excellence et de Reconnaissance du Mérite dans la Culture Nigerienne 
          </p>
          <a class="button is-arrow is-gradient mt-6" href="<%= root_path %>#about">
            En Savoir plus
          </a>
        </div>
      </div>
      <div class="column is-12-mobile is-6-widescreen">
        <%= image_tag 'banner.jpg', alt:'MENA OR' %>
      </div>
    </div>
  </div>
</section>