<div class="card shadow-none">
  <div class="card-content">
    <div class="columns is-mobile is-desktop">
      <div class="column is-9">
        <%= render "partials/template/form", resource_name: resource_name, resource: resource %>
      </div>
    </div>
  </div>
</div>
