<div class="has-text-centered py-6 px-5">
  <p class="mb-6 title is-5">Votre transaction a échouée.</p>
  <div><%= image_tag 'echec.svg', alt: 'Success' %></div>
  <%= link_to 'Essayer à nouveau', root_path, class: 'button is-warning mt-5', data: { turbo: false } %>
</div>
