<div class="has-text-centered py-6 px-5">
  <p class="mb-6 title is-5">Félicitation! Votre transaction a été validée.</p>
  <div><%= image_tag 'reussite.svg', alt: 'Success' %></div>
  <%= link_to 'Je vote', root_path, class: 'button is-primary mt-5', data: { turbo: false } %>
</div>
