<div class="gallery-column">
  <a data-fancybox="gallery" href="<%= asset_pack_path(path) %>" title="<%= title %>">
    <img class="box p-0" src="<%= asset_pack_path(path) %>" alt="<%= title %>" />
  </a>
</div>
